<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qkby.work.dao.WorkReportFileDao" >
  <resultMap id="BaseResultMap" type="com.qkby.work.entity.WorkReportFileInfo" >
    <id column="id" property="id" />
    <result column="report_id" property="reportId"  />
    <result column="file_id" property="fileId"  />
    <result column="extend_1" property="extend1"  />
    <result column="extend_2" property="extend2"  />
    <result column="extend_3" property="extend3"  />
  </resultMap>
  <insert id="insertReportFile" parameterType="com.qkby.work.entity.WorkReportFileInfo">
     insert into work_report_file(id,report_id,file_id,extend_1,extend_2,extend_3)
       values(#{id},#{reportId},#{fileId},#{extend1},#{extend2},#{extend3})
  </insert>
  <select id="selectReportFile" parameterType="java.lang.Integer" resultType="hashmap">
 SELECT 
    sf.id AS sfId,
    sf.code AS sfCode,
    sf.name AS sfName,
    sf.path AS sfPath,
    wrf.id AS plaFileId
 FROM work_report_file wrf,sys_file sf WHERE wrf.file_id = sf.id
      AND wrf.report_id = #{id}
  </select>
  <delete id="deleteReportFile" parameterType="java.lang.Integer">
     delete from work_report_file where id = #{id}
  </delete>
</mapper>